<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .button-container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .query-btn {
            flex: 1;
            margin: 5px 10px;
            padding: 10px;
            text-align: center;
            transition: height 0.3s;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
        }
    </style>
</head>
<body class="dark-mode">
    <button id="toggle-mode-btn" class="toggle-button"><i class="fas fa-sun"></i></button>
    <div class="button-container">
        <h5>Topics of interest:</h5>
        <button class="query-btn" data-query="asthma">asthma</button>
        <button class="query-btn" data-query="addiction">addiction</button>
        <button class="query-btn" data-query="cardiovascular disease">heart disease</button>
        <button class="query-btn" data-query="atherosclerosis">atherosclerosis</button>
        <button class="query-btn" data-query="sleep">sleep</button>
    </div>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <div class="chat-message bot-message">Hello! What can I help you find today?</div>
        </div>
        <div class="chat-input-container">
            <input type="text" id="user-input" placeholder="e.g. 'find studies on sleep', 'who is studying cocaine addiction?', 'is anyone looking at COPD in women?', etc." autofocus>
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function sendMessage(message) {
                $('#chat-box').append('<div class="chat-message user-message">' + message + '</div>');
                $('#user-input').val('');

                // Add the spinner
                var spinner = '<div class="chat-message bot-message spinner"><i class="fas fa-circle-notch fa-spin"></i></div>';
                $('#chat-box').append(spinner);

                $.post('/get_response', { message: message }, function (data) {
                    // Remove the spinner
                    $('#chat-box .spinner').remove();
                    $('#chat-box').append('<div class="chat-message bot-message">' + data.response + '</div>');
                    $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight); // Auto-scroll to the bottom
                });
            }

            $('#send-btn').click(function () {
                var userMessage = $('#user-input').val();
                if (userMessage.trim() !== '') {
                    sendMessage(userMessage);
                }
            });

            $('.query-btn').click(function () {
                var dataQuery = $(this).data('query');
                var queryFormats = [
                    "What are some major findings in " + dataQuery + " research?",
                    "Find recent studies on " + dataQuery,
                    "Is anyone investigating " + dataQuery + "?",
                    "What are the current trends in " + dataQuery + " research?",
                    "Who is studying " + dataQuery + "?",
                    "What are the most common keywords in " + dataQuery + " research?",
                    "What are the most common methodologies in " + dataQuery + " research?",
                    "What are the most common study designs in " + dataQuery + " research?",
                    "What are the most common funding sources in " + dataQuery + " research?"
                ];
                var randomQuery = queryFormats[Math.floor(Math.random() * queryFormats.length)];
                sendMessage(randomQuery);
            });

            $('#user-input').keypress(function (e) {
                if (e.which == 13) { // Enter key pressed
                    $('#send-btn').click();
                }
            });

            $('#toggle-mode-btn').click(function () {
                $('body').toggleClass('dark-mode light-mode');
                $('i', this).toggleClass('fa-sun fa-moon');
            });
        });
    </script>
</body>
</html>
