<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DUG LLM Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .button-container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .query-btn {
            flex: 1;
            margin: 5px 10px;
            padding: 10px;
            text-align: center;
            transition: height 0.3s;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
        }

        .banner-container {
            width: 80%;
            display: flex;
            align-items: center;
        }

        .banner {
            width: 35%;
            height: auto;
            display: block;
        }
    </style>
</head>

<body class="light-mode">
    <button id="toggle-mode-btn" class="toggle-button"><i class="fas fa-sun"></i></button>

    <div class="banner-container">
         <img src="{{ banner_image_url }}" alt="Banner" class="banner">
    </div>
    <br/>
    <div class="button-container">
        <h5>Generate questions<br />on topics of interest:</h5>
        <button class="query-btn" data-query="asthma">asthma</button>
        <button class="query-btn" data-query="genomics">genomics</button>
        <button class="query-btn" data-query="cardiovascular disease">heart disease</button>
        <button class="query-btn" data-query="atherosclerosis">atherosclerosis</button>
        <button class="query-btn" data-query="sleep">sleep</button>
    </div>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <div class="chat-message bot-message">Hello! What can I help you find today?</div>
        </div>
        <div class="chat-input-container">
            <input type="text" id="user-input"
                placeholder="Ask your question here (e.g. 'find COPD studies', 'who is studying cocaine addiction?', etc.)"
                autofocus>
            <button id="send-btn">Send</button>
            <button id="export-btn">Export chat history</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function sendMessage(message) {
                $('#chat-box').append('<div class="chat-message user-message">' + message + '</div>');
                $('#user-input').val('');

                var spinner = '<div class="chat-message bot-message spinner"><i class="fas fa-circle-notch fa-spin"></i></div>';
                $('#chat-box').append(spinner);
                scrollToBottom();

                $.post("{{ url_for('get_response') }}", { message: message }, function (data) {
                    $('#chat-box .spinner').remove();
                    $('#chat-box').append('<div class="chat-message bot-message">' + data.response + '</div>');
                    scrollToBottom();
                });
            }

            function scrollToBottom() {
                var chatBox = $('#chat-box');
                chatBox.scrollTop(chatBox.prop("scrollHeight"));
            }

            $('#send-btn').click(function () {
                var userMessage = $('#user-input').val();
                if (userMessage.trim() !== '') {
                    sendMessage(userMessage);
                }
            });

            $('.query-btn').click(function () {
                var topicQuery = $(this).data('query');
                var queryTemplate = [
                    "What are some major findings in " + topicQuery + " research?",
                    "Find recent studies on " + topicQuery,
                    "Is anyone investigating " + topicQuery + "?",
                    "What are the current trends in " + topicQuery + " research?",
                    "Who is studying " + topicQuery + "?",
                    "What are the most common keywords in " + topicQuery + " research?",
                    "What are the most common study designs in " + topicQuery + " research?"
                ];
                var randomQuery = queryTemplate[Math.floor(Math.random() * queryTemplate.length)];
                sendMessage(randomQuery);
            });

            $('#user-input').keypress(function (e) {
                if (e.which == 13) { // Enter key pressed
                    $('#send-btn').click();
                }
            });

            $('#toggle-mode-btn').click(function () {
                $('body').toggleClass('dark-mode light-mode');
                $('i', this).toggleClass('fa-sun fa-moon');
            });

            $('#export-btn').click(function () {
                window.location.href = "{{ url_for('export_chat_history') }}";
            });
        });

    </script>
</body>

</html>
